@model CommentViewModel

@{
    ViewData["Title"] = "Add Comments";
}

<h1>Add Comments</h1>
  @if (Model.MovieComments != null && Model.MovieComments.Count >0){
<div>
    <h3>Existing Comments</h3>
    <ul>
      
        
        @foreach (var comment in Model.MovieComments)
        {
          
            <li>
                    @if ( Model.UserId == comment.userId)
                    {
                <div>
                       <strong>@Model.Firstname</strong> said on @comment.commentedTime:
                        </div>
                    }
                    else
                    {
                                      <div>
                                   <strong>@comment.userId</strong> said on @comment.commentedTime:
                                    </div>
                    }
                
                    @if (Model.IsEditing && Model.UserId == comment.userId)
                    {
                                 <form asp-controller="Movie" asp-action="EditCommentPost" method="post">
                    <div class="form-group">
                        <textarea class="form-control" name="editedComment">@comment.comment</textarea>
                        <input type="hidden" name="commentId" value="@comment.comment" />
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                </form>
                }
                else
                {
                    
                    @comment.comment
                    DateTime commentTime = DateTime.Parse(comment.commentedTime);
                    TimeSpan timeSinceComment = DateTime.Now - commentTime;
                    bool isEditable = timeSinceComment.TotalHours <= 24;
                        @if (Model.UserId == comment.userId && isEditable)
                    {
                                     
                     <a href="/editComment?commentId=@comment.commentId" class="btn btn-sm btn-primary">Edit</a>
                                            
                    }
                }
            </li>
        }
       
        
    </ul>
</div>
}
<div>
    <h3>Add a Comment</h3>
    <form asp-controller="Movie" asp-action="AddComment" method="post">
        <div class="form-group">
            <label for="comment">Your Comment:</label>
            <textarea class="form-control" id="comment" name="comment"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>
</div>


