@model MovieListViewModel
@{
    ViewData["Title"] = "List Movies";
}

<h1>List of Movies</h1>

<form asp-controller="Movie" asp-action="ListMovies" method="post">
    <div class="form-group">
        <label for="selectedGenre">Select Genre:</label>
        <select class="form-control" id="selectedGenre" asp-for="SelectedGenre" asp-items="new SelectList(Model.Genres)">
            <option value="">All Genres</option>
        </select>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="selectedRating">Select Rating:</label>
        <select class="form-control" id="selectedRating" asp-for="SelectedRating" asp-items="new SelectList(Model.Ratings)">
            <option value="0">All Ratings</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Filter Movies</button>
</form>
<br/>
<br/>
<div class="text-center">
    <a class="btn btn-success" href="/addMovie">Add Movie</a>
</div>
<br/>
<br/>
<div class="row">
    @foreach (var movie in Model.Movies)
    {
                <div class="col-md-4 mb-4">
                    <div class="card">
                            <img src="~/images/signin.jpg" class="card-img-top" alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title">@movie.movieTitle</h5>
                            <p class="card-text"><strong>Genre:</strong> @movie.movieGenre</p>
                            <p class="card-text"><strong>Rating:</strong> @movie.movieRating</p>
                            <p class="card-text"><strong>Directors:</strong> @string.Join(", ", movie.movieDirectors)</p>
                            <p class="card-text"><strong>Release Time:</strong> @movie.movieReleaseTime</p>
                        </div>
                           <div class="card-footer text-center">
        <div class="btn-group">
            <a class="btn btn-primary" asp-controller="Movie" asp-action="EditMovie" asp-route-movieId="@movie.movieId">Edit</a>
            <a class="btn btn-danger ml-2" asp-controller="Movie" asp-action="DeleteMovie" asp-route-movieId="@movie.movieId">Delete</a>
            <a class="btn btn-info ml-2" asp-controller="Movie" asp-action="GiveComments" asp-route-movieId="@movie.movieId">Comment</a>
        </div>
    </div>

                    </div>
                </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        // Get references to the Genre and Rating select elements
        var genreSelect = $("#selectedGenre");
        var ratingSelect = $("#selectedRating");

        // Event handler for when Genre is selected
        genreSelect.on("change", function () {
            // If a Genre is selected, disable the Rating select and clear its value
            if (genreSelect.val() !== "") {
                ratingSelect.prop("disabled", true);
                ratingSelect.val("");
            } else {
                ratingSelect.prop("disabled", false);
            }
        });

        // Event handler for when Rating is selected
        ratingSelect.on("change", function () {
            // If a Rating is selected, disable the Genre select and clear its value
            if (ratingSelect.val() !== "0") {
                genreSelect.prop("disabled", true);
                genreSelect.val("");
            } else {
                genreSelect.prop("disabled", false);
            }
        });
    });
</script>

