@model MovieListViewModel
@{
    ViewData["Title"] = "List Movies";
}

<h1>List of Movies</h1>

<form asp-controller="Movie" asp-action="ListMovies" method="post">
    <div class="form-group">
        <label for="selectedGenre">Select Genre:</label>
        <select class="form-control" id="selectedGenre" asp-for="SelectedGenre" asp-items="new SelectList(Model.Genres)">
            <option value="">All Genres</option>
        </select>
    </div>
    <br/>
    <br/>
    <div class="form-group">
        <label for="selectedRating">Select Rating:</label>
        <select class="form-control" id="selectedRating" asp-for="SelectedRating" asp-items="new SelectList(Model.Ratings)">
            <option value="0">All Ratings</option>
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Filter Movies</button>
</form>
<br/>
<br/>
<div class="text-center">
    <a class="btn btn-success" href="/addMovie">Add Movie</a>
</div>
<br/>
<br/>
<div class="row">
    @foreach (var movie in Model.Movies)
    {
                <div class="col-md-4 mb-4">
                    <div class="card">
                            <img src="~/images/signin.jpg" class="card-img-top" alt="Movie Poster">
                        <div class="card-body">
                            <h5 class="card-title">@movie.movieTitle</h5>
                            <p class="card-text"><strong>Genre:</strong> @movie.movieGenre</p>
                            <p class="card-text"><strong>Rating:</strong> @movie.movieRating</p>
                            <p class="card-text"><strong>Directors:</strong> @string.Join(", ", movie.movieDirectors)</p>
                            <p class="card-text"><strong>Release Time:</strong> @movie.movieReleaseTime</p>
                        </div>
                        <div class="card-footer text-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="#">Edit</a>
                                <a class="btn btn-danger" href="#">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
    }
</div>
